In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [30]:
dataset=pd.read_csv('D:\ML\data\T1.csv')

dataset.drop('Theoretical_Power_Curve (KWh)',axis=1,inplace=True)
dataset.dtypes

Date/Time               object
LV ActivePower (kW)    float64
Wind Speed (m/s)       float64
Wind Direction (°)     float64
dtype: object

In [31]:
dataset['Date/Time']=pd.to_datetime(dataset['Date/Time'])

In [32]:
dataset.dtypes

Date/Time              datetime64[ns]
LV ActivePower (kW)           float64
Wind Speed (m/s)              float64
Wind Direction (°)            float64
dtype: object

In [43]:
data=dataset.copy()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50530 entries, 0 to 50529
Data columns (total 4 columns):
Date/Time              50530 non-null datetime64[ns]
LV ActivePower (kW)    50530 non-null float64
Wind Speed (m/s)       50530 non-null float64
Wind Direction (°)     50530 non-null float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 1.5 MB

In [44]:
#feature scaling

from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(data[['Wind Speed (m/s)','Wind Direction (°)']])

MinMaxScaler(copy=True, feature_range=(0, 1))

In [45]:

data.head()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Wind Direction (°)
0,2018-01-01 00:00:00,380.047791,5.311336,259.994904
1,2018-01-01 00:10:00,453.769196,5.672167,268.641113
2,2018-01-01 00:20:00,306.376587,5.216037,272.564789
3,2018-01-01 00:30:00,419.645905,5.659674,271.258087
4,2018-01-01 00:40:00,380.650696,5.577941,265.674286

In [46]:
scaler.transform(data[['Wind Speed (m/s)',
                       'Wind Direction (°)']])

array([[0.21071704, 0.7222129 ],
       [0.22503231, 0.74623031],
       [0.20693623, 0.75712948],
       ...,
       [0.33465661, 0.23539741],
       [0.37377457, 0.23416244],
       [0.3959108 , 0.22854214]])

In [47]:
data=pd.concat([data[['Date/Time','LV ActivePower (kW)']],pd.DataFrame(
    scaler.transform(data[['Wind Speed (m/s)','Wind Direction (°)']]),columns=['Wind Speed (m/s)','Wind Direction (°)'])],axis=1)

In [48]:
data.head()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Wind Direction (°)
0,2018-01-01 00:00:00,380.047791,0.210717,0.722213
1,2018-01-01 00:10:00,453.769196,0.225032,0.746230
2,2018-01-01 00:20:00,306.376587,0.206936,0.757129
3,2018-01-01 00:30:00,419.645905,0.224537,0.753500
4,2018-01-01 00:40:00,380.650696,0.221294,0.737989

In [49]:
y=data['LV ActivePower (kW)'].values
y



# print(np.shape(X))
# print(np.shape(y))

# X_train,X_test,y_train,y_test=train_test_split(X,y)

array([ 380.04779053,  453.76919556,  306.37658691, ..., 2201.10693359,
       2515.6940918 , 2820.46606445])

In [50]:
data.drop('LV ActivePower (kW)',axis=1,inplace=True)
data

                Date/Time  Wind Speed (m/s)  Wind Direction (°)
0     2018-01-01 00:00:00          0.210717            0.722213
1     2018-01-01 00:10:00          0.225032            0.746230
2     2018-01-01 00:20:00          0.206936            0.757129
3     2018-01-01 00:30:00          0.224537            0.753500
4     2018-01-01 00:40:00          0.221294            0.737989
5     2018-01-01 00:50:00          0.222330            0.734946
6     2018-01-01 01:00:00          0.229826            0.739348
7     2018-01-01 01:10:00          0.210507            0.716531
8     2018-01-01 01:20:00          0.221559            0.704118
9     2018-01-01 01:30:00          0.219123            0.718682
10    2018-01-01 01:40:00          0.227093            0.699591
11    2018-01-01 01:50:00          0.235428            0.737518
12    2018-01-01 02:00:00          0.259756            0.761763
13    2018-01-01 02:10:00          0.245963            0.740930
14    2018-01-01 02:20:00          0.258089            0.741006
15    2018-01-01 02:30:00          0.263196            0.751375
16    2018-01-01 02:40:00          0.253071            0.740542
17    2018-01-01 02:50:00          0.255759            0.737704
18    2018-01-01 03:00:00          0.254506            0.725446
19    2018-01-01 03:10:00          0.255397            0.715450
20    2018-01-01 03:20:00          0.246767            0.710912
21    2018-01-01 03:30:00          0.273666            0.694485
22    2018-01-01 03:40:00          0.301901            0.711076
23    2018-01-01 03:50:00          0.289151            0.709573
24    2018-01-01 04:00:00          0.315127            0.712248
25    2018-01-01 04:10:00          0.332308            0.701151
26    2018-01-01 04:20:00          0.326785            0.688836
27    2018-01-01 04:30:00          0.312608            0.662809
28    2018-01-01 04:40:00          0.281733            0.680826
29    2018-01-01 04:50:00          0.275938            0.681700
...                   ...               ...                 ...
50500 2018-12-31 19:00:00          0.206202            0.271202
50501 2018-12-31 19:10:00          0.229394            0.250861
50502 2018-12-31 19:20:00          0.217351            0.243114
50503 2018-12-31 19:30:00          0.243833            0.234004
50504 2018-12-31 19:40:00          0.314858            0.219410
50505 2018-12-31 19:50:00          0.331278            0.219565
50506 2018-12-31 20:00:00          0.344145            0.217140
50507 2018-12-31 20:10:00          0.322775            0.218818
50508 2018-12-31 20:20:00          0.297015            0.222393
50509 2018-12-31 20:30:00          0.297299            0.225777
50510 2018-12-31 20:40:00          0.306462            0.220888
50511 2018-12-31 20:50:00          0.356522            0.225159
50512 2018-12-31 21:00:00          0.385385            0.222981
50513 2018-12-31 21:10:00          0.337167            0.220542
50514 2018-12-31 21:20:00          0.382275            0.220436
50515 2018-12-31 21:30:00          0.336143            0.221389
50516 2018-12-31 21:40:00          0.334580            0.222592
50517 2018-12-31 21:50:00          0.395805            0.222450
50518 2018-12-31 22:00:00          0.413268            0.223480
50519 2018-12-31 22:10:00          0.425044            0.224892
50520 2018-12-31 22:20:00          0.402862            0.228710
50521 2018-12-31 22:30:00          0.478761            0.227740
50522 2018-12-31 22:40:00          0.483839            0.228364
50523 2018-12-31 22:50:00          0.495616            0.228090
50524 2018-12-31 23:00:00          0.498261            0.223599
50525 2018-12-31 23:10:00          0.452433            0.223620
50526 2018-12-31 23:20:00          0.290909            0.233509
50527 2018-12-31 23:30:00          0.334657            0.235397
50528 2018-12-31 23:40:00          0.373775            0.234162
50529 2018-12-31 23:50:00          0.395911            0.228542

[50530 rows x 3 columns]

In [53]:
print(data.shape)
print(y.shape)

(50530, 3)
(50530,)

In [57]:
data['Date/Time']=pd.to_numeric(data['Date/Time'])

In [58]:
data.head()

             Date/Time  Wind Speed (m/s)  Wind Direction (°)
0  1514764800000000000          0.210717            0.722213
1  1514765400000000000          0.225032            0.746230
2  1514766000000000000          0.206936            0.757129
3  1514766600000000000          0.224537            0.753500
4  1514767200000000000          0.221294            0.737989

In [61]:
data.dtypes

Date/Time               int64
Wind Speed (m/s)      float64
Wind Direction (°)    float64
dtype: object

In [59]:
X_train,X_test,y_train,y_test=train_test_split(data,y)

In [60]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(n_estimators=10,random_state=0)
from sklearn.model_selection import cross_val_score
regressor.fit(X_train,y_train)
train_score = cross_val_score(regressor,X_train,y_train,cv=5)
test_score = cross_val_score(regressor,X_test,y_test,cv=5)

print("train score :",np.mean(train_score))
print("test score :",np.mean(test_score))

train score : 0.9747032991802504
test score : 0.9600265303834068

In [ ]:
from sklearn.svm import SVR
from sklearn.model_selection import cross_val_score
for k in ['linear','rbf']:
    
    clf = SVR(kernel=k)

    train_score = cross_val_score(clf,X_train,y_train,cv=5)
#     test_score = cross_val_score(clf,X_test,y_test,cv=5)

    print(k,np.mean(train_score))